<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="smtpHost" type="xstring" value="smtp.ethereal.email"/>
        <entry key="smtpPort" type="xint" value="587"/>
        <entry key="useAuthentication" type="xboolean" value="true"/>
        <entry key="useCredentials" type="xboolean" value="false"/>
        <entry key="credentialsId" type="xstring" value=""/>
        <entry key="smtpUser" type="xstring" value="hortense.konopelski@ethereal.email"/>
        <entry key="smtpPasswordWeaklyEncrypted" type="xpassword" value="02EgAAAGMq_QxveL1vZ0EBj4uGuwnbP6uUkSIOdKJUPN8dC2-aOuk="/>
        <entry key="connectionSecurity" type="xstring" value="STARTTLS"/>
        <entry key="emailFormat" type="xstring" value="Text"/>
        <entry key="emailPriority" type="xstring" value="Normal"/>
        <entry key="from" type="xstring" value="hortense.konopelski@ethereal.email"/>
        <entry key="to" type="xstring" value="teste@teste.com"/>
        <entry key="cc" type="xstring" value=""/>
        <entry key="bcc" type="xstring" value=""/>
        <entry key="replyTo" type="xstring" value=""/>
        <entry key="subject" type="xstring" value="Totais por cliente"/>
        <entry key="text" type="xstring" value="Olá,%%00010Em anexo encontra-se o report com os totais por cliente!%%00010%%00010Email gerado automaticamente."/>
        <config key="attachedURLs">
            <entry key="array-size" type="xint" value="1"/>
            <entry key="0" type="xstring" value="knime://knime.workflow/tmp/report-debt88zhjo0a5ssm.pdf"/>
        </config>
        <entry key="smtpConnectionTimeout" type="xint" value="22000"/>
        <entry key="smtpReadTimeout" type="xint" value="30000"/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="attachedURLs">
                <entry key="used_variable" type="xstring" value="file-upload-input (URL)"/>
                <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.base.node.util.sendmail.SendMailNodeFactory"/>
    <entry key="node-name" type="xstring" value="Send Email"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.2.v202409100934"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.2.v202409100934"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Send Email"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="27b9f27b-c224-4fef-92e2-5693cfc73658"/>
    </config>
</config>
